<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_dog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1334}</string>
                <key>spriteSourceSize</key>
                <string>{750,1334}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bt_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,125}</string>
                <key>spriteSourceSize</key>
                <string>{464,125}</string>
                <key>textureRect</key>
                <string>{{1337,303},{464,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_continue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,44}</string>
                <key>spriteSourceSize</key>
                <string>{184,44}</string>
                <key>textureRect</key>
                <string>{{1639,117},{184,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_doge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1639,65},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_doge_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1464,590},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_doge_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1464,632},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_high.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{1639,1},{68,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,148}</string>
                <key>spriteSourceSize</key>
                <string>{13,148}</string>
                <key>textureRect</key>
                <string>{{1,753},{13,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1337,1},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,125}</string>
                <key>spriteSourceSize</key>
                <string>{285,125}</string>
                <key>textureRect</key>
                <string>{{1464,303},{285,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,125}</string>
                <key>spriteSourceSize</key>
                <string>{285,125}</string>
                <key>textureRect</key>
                <string>{{1591,303},{285,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>doge.png</string>
            <key>size</key>
            <string>{1717,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed3856135f9b44af6192c9921fcda7ec:8342b337f764057850563a508329d9e5:2b6b044cd39571cff4658ef1ad48d114$</string>
            <key>textureFileName</key>
            <string>doge.png</string>
        </dict>
    </dict>
</plist>
